---
---
@import 'config';
@import 'mixins';
@import 'extends';

html{
  font-size: 100%;
}
body{
  font-size: 1rem;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","游ゴシック", "Yu Gothic","メイリオ", "Meiryo", "ＭＳ Ｐゴシック", sans-serif !important;
	font-feature-settings: "palt";
  color: $font-color;
}

